#include <winres.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "charles chao shu\0"
            VALUE "FileDescription", "GeneralOnnxRuntime_Infer\0"
            VALUE "FileVersion", "1.0.0.1\0"
            VALUE "InternalName", "GeneralOnnxRuntime_Infer\0"
            VALUE "LegalCopyright", "Copyright (C) 2024 Charles Chao shu, All rights reserved.\0"
            VALUE "OriginalFilename", "GeneralOnnxRuntime_Infer.dll\0"
            VALUE "ProductName", "GeneralOnnxRuntime_Infer\0"
            VALUE "ProductVersion", "1.0.0.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
